.container
	.content
		.page-header
			%h1 Login
		.row-fluid
			.span12
				= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
					.row-fluid
						.span8
							= f.input :login, autofocus: true
							= f.input :password
							= f.input :remember_me, as: :boolean
						.span4
							= render :partial => "users/shared/links"
					.row-fluid
						.span12   
							.form-actions
								= f.button :submit, :value => I18n.t('helpers.submit.user.session.create'), :class => 'btn-info'
			