- title = yield :title
- if title.blank?
	- title = "#{controller.controller_name.titleize} | #{controller.action_name.titleize} - + (_____) - Let people reach out to you."
- elsif title.include? "+ (_____)"
- else
	- title = "#{title} - + (_____)"

- description = yield :description
- description ||= "Positivespace is a new way to let people reach out to you. We believe that it's too hard to start a conversation with a stranger. A lot of good ideas and relationships are missed because the right people never talk. We provide simple and direct ways for potential partners to contact you."

- image_url = yield :image_url
- image_url ||= "TODO:"

:plain
	<!--

		  ######
		  ######
		  ######
	##################
	##################
	##################
		  ######
		  ######
		  ######

						##################
						##################
						##################

	-->
%head
	%meta{ :charset => "utf-8" }
	-# More info: h5bp.com/b/378
	%meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
	-# Mobile viewport optimized: h5bp.com/viewport
	%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0" }

	%meta{property: "og:image", content: image_url}
	%meta{property: "og:title", content: raw(title)}
	%meta{property: "og:name", content: "+ (_____)"}
	%meta{property: "og:description", content: description}

	%meta{ :name => "description", :content => description }
	%title= raw(title)

	= render "stylesheets"

	-#INCLUDES TYPEKIT
		%script{ async: "", src: "//use.typekit.net/TODO:.js" }
		:coffeescript
			try
				Typekit.load()

	= csrf_meta_tag
	%meta#csrf{"data-csrf" => form_authenticity_token, "ng-controller" => "CsrfCtrl"}

	= yield :head

	%link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}
	%link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
	%link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
