!!! 5
- html_tag "ng-app" => "ps", "ng-controller" => "AppCtrl", :class => "no-js", :lang => "en", :"xmlns:fb" => "http://ogp.me/ns/fb#" do
	= render "head"

	%body{ "ng-class" => "{focus: app.show.focus}" }

		#wrapper
			#loading{"ng-include" => "app.templates.loading.url"}
				= image_tag "#{root_url}apple-touch-icon-144x144.png"
				= image_tag 'loading.gif', style: "position: absolute;left: 0;top: 0;width: 144px;height: 144px;"
			%header#header{"ng-class" => "app.templates.header.classes", "ng-include" => "app.templates.header.url"}
			#main{ :role => "main" }
				#flash{"ng-include" => "app.templates.flash.url"}
				#yielded{"ng-view"=>true}


			#layout_footer
		%footer#footer{"ng-include" => "app.templates.footer.url"}
		= render "javascripts"
		= render "facebook"
