!!! 5
- html_tag "ng-app" => "PositivespaceClient", :class => "no-js", :lang => "en", :"xmlns:fb" => "http://ogp.me/ns/fb#" do
	= render "head"

	%body{ class: "#{controller.controller_name} #{controller.action_name}" }
		
		#wrapper
			-#= render "chromeframe"
			-#= render "header"
			#main{ :role => "main" }
				#flash
					= render "flashes"
				#yielded{"ng-view"=>true}
					= yield

			#layout_footer
		= render "footer"
		= render "javascripts"
		-#= render "facebook"